#first{
    padding:2vh 2vw;
    font-size: 1.2em;
    background-color: blueviolet;
    font-family: Helvetica;
    font-weight: bolder;
}
#support{
    font-size:1.2em;
    font-family: Helventica;
    font-weight: 900;
}